/* CSS declarations go here */

.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://i.imgur.com/nFz78LW.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    height: 100vh;
    width: 100vw;
    font-size: 5em;
}
.jumbotron h1 {
	padding-left: 30px;
	font-size: 2.5em;
	text-shadow: black 0em 0em 0.1em;
}
.jumbotron p {
	padding-left: 50px;
	font-size: .5em;
	text-shadow: black 0em 0em 0.1em;
}
.jumbotron span {
	padding-left: 50px;
	text-shadow: black 0em 0em 0.0em;
}
#login {
	color: white;
	padding-top: 1.3em;
	font-size: 1em;
}